img{
    width: 100%;
}
.box{
    display: flex;

}
.media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2vw; */
    width: 100%;
    border: 1px solid black;
}
.App{
    width: 100%;
    border: 3px solid black;
}
.image{
    width: 200px;
    
}
.box{
    width: 100%;
    border: 2px solid red;
}
.field{
   display: flex; 
}
.resetCalore{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;

}
.ResetBtn{
    padding: 0.5rem;
    border: none;
}
.search{
    text-align: center;
}